body {
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  background-color: #1db954;
  padding: 20px;
}
footer {
  background-color: #1db954;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.track {
  margin: 20px auto;
  width: 80%;
  background: #282828;
  padding: 10px;
  border-radius: 8px;
}
audio {
  width: 100%;
}
